<ngx-spinner
  bdColor = "rgba(0, 0, 0, 0.8)"
  size = "medium" color = "#fff"
  type = "ball-clip-rotate" [fullScreen] = "true">
</ngx-spinner>
<button
  type="button"
  class="btn btn-success btn-sm"
  routerLink="create">
  Add Company
</button>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">CNPJ</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let company of companies">
    <th scope="row">{{ company.id }}</th>
    <td>{{ company.name }}</td>
    <td>{{ company.cnpj | mask: '00.000.000/0000-00' }}</td>
    <td>
      <button
        type="button"
        class="btn btn-info btn-sm"
        routerLink="detail/{{ company.id }}">
        See Details
      </button>
      <button
        type="button"
        class="btn btn-warning btn-sm mx-2"
        routerLink="edit/{{ company.id }}">
        Edit
      </button>
      <button
        type="button"
        class="btn btn-danger btn-sm"
        (click) = "deleteData(company.id)">
        Delete
      </button>
    </td>
  </tr>
  </tbody>
</table>

<div *ngIf="companies.length < 1;">
  <p>There are no registered companies till this moment.</p>
</div>
