<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Top System</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="employees" href="/employees">Employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="customers" href="/customers">Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="companies" href="/companies">Companies</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
