<ngx-spinner
  bdColor = "rgba(0, 0, 0, 0.8)"
  size = "medium" color = "#fff"
  type = "ball-clip-rotate" [fullScreen] = "true">
</ngx-spinner>
<button
  type="button"
  class="btn btn-success btn-sm"
  (click)="createEmployee()">
  Add Employee
</button>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">E-mail</th>
      <th scope="col">CPF</th>
      <th scope="col">Login</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of employees">
      <th scope="row">{{ emp.id }}</th>
      <td>{{ emp.name }}</td>
      <td>{{ emp.email }}</td>
      <td>{{ emp.cpf | mask: '000.000.000-00' }}</td>
      <td>{{ emp.login }}</td>
      <td>
        <button
          type="button"
          class="btn btn-info btn-sm"
          routerLink="detail/{{ emp.id }}">
          See Details
        </button>
        <button
          type="button"
          class="btn btn-warning btn-sm mx-2"
          routerLink="edit/{{ emp.id }}">
          Edit
        </button>
        <button
            type="button"
            class="btn btn-danger btn-sm"
            (click) = "deleteData(emp.id)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="employees.length < 1;">
  <p>There are no registered employees till this moment.</p>
</div>
