<ngx-spinner
  bdColor = "rgba(0, 0, 0, 0.8)"
  size = "medium" color = "#fff"
  type = "ball-clip-rotate" [fullScreen] = "true">
</ngx-spinner>

<p class="fs-5 text-muted">
  <span class="material-icons align-text-sub">contact_page</span>
  Personal Data
</p>

<hr>

<ul class="list-group list-group-horizontal">
  <li class="list-group-item w-50">
    <span class="fw-bold">Name: </span>{{ company.name }}
  </li>
  <li class="list-group-item w-50">
    <span class="fw-bold">CNPJ: </span>{{ company.cnpj | mask: '00.000.000/0000-00' }}
  </li>
</ul>

<p class="fs-5 mt-4 text-muted">
  <span class="material-icons align-text-sub">home</span>
  Address
</p>

<hr>

<ul class="list-group list-group-horizontal">
  <li class="list-group-item w-75">
    <span class="fw-bold">Street: </span>{{ company.address.street }}
  </li>
  <li class="list-group-item w-25">
    <span class="fw-bold">Number: </span>{{ company.address.number }}
  </li>
  <li class="list-group-item w-50">
    <span class="fw-bold">District: </span>{{ company.address.district }}
  </li>
</ul>
<ul class="list-group list-group-horizontal">

  <li class="list-group-item w-75">
    <span class="fw-bold">City: </span>{{ company.address.city }}
  </li>
  <li class="list-group-item w-25">
    <span class="fw-bold">State: </span>{{ company.address.state }}
  </li>
  <li class="list-group-item w-50">
    <span class="fw-bold">Zip Code: </span>{{ company.address.zip | mask: '00.000-000' }}
  </li>
</ul>

<div class="row m-0">
  <p class="fs-5 mt-4 w-50 text-muted p-0">
    <span class="material-icons align-text-sub">shopping_basket</span>
    <a class="text-reset text-decoration-none m-2" href="/customers">Customers</a>
  </p>
  <p class="fs-5 mt-4 w-50 text-muted p-0">
    <span class="material-icons align-text-sub">work</span>
    <a class="text-reset text-decoration-none m-2" href="/employees">Employees</a>
  </p>
  <hr>
</div>

<div class="hstack gap-2" *ngIf="company.customers.length > 0 || company.employees.length > 0; else no_customers_employees">
  <div class="col align-self-start">
    <ul class="list-group" *ngFor="let customer of company.customers">
      <li class="list-group-item">
        <span class="fw-bold">Name: </span>{{ customer.name }}
      </li>
      <li class="list-group-item">
        <span class="fw-bold">E-mail: </span>{{ customer.email }}
      </li>
      <li class="list-group-item">
        <span class="fw-bold">CPF: </span>{{ customer.cpf }}
        <button
          type="button"
          class="btn btn-info btn-sm float-end"
          routerLink="/customers/detail/{{ customer.id }}">
          More Details
        </button>
      </li>
    </ul>
  </div>

  <div class="vr"></div>

  <div class="col align-self-start">
    <ul class="list-group" *ngFor="let employee of company.employees">
      <li class="list-group-item">
        <span class="fw-bold">Name: </span>{{ employee.name }}
      </li>
      <li class="list-group-item">
        <span class="fw-bold">E-mail: </span>{{ employee.email }}
      </li>
      <li class="list-group-item">
        <span class="fw-bold">CPF: </span>{{ employee.cpf | mask: '000.000.000-00' }}
        <button
          type="button"
          class="btn btn-info btn-sm float-end"
          routerLink="/employees/detail/{{ employee.id }}">
          More Details
        </button>
      </li>
    </ul>
  </div>
</div>
<ng-template #no_customers_employees>
  <p>There are no customers or employees associated with this company.</p>
</ng-template>
