<ngx-spinner
  bdColor = "rgba(0, 0, 0, 0.8)"
  size = "medium" color = "#fff"
  type = "ball-clip-rotate" [fullScreen] = "true">
</ngx-spinner>
<form (ngSubmit)="updateCompany()" [formGroup]="form">
  <h4 class="mt-4">Personal Data</h4>
  <div formGroupName="company">
    <div class="row mt-4">
      <div class="form-group col-md-8">
        <label for="name" class="fw-bold">Name</label>
        <input id="name" type="text" name="name" formControlName="name" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && form.get('company.name').errors }">
        <div class="invalid-feedback" *ngIf="submitted && form.get('company.name').errors">
          <div *ngIf="form.get('company.name').hasError('required')">Name is required</div>
          <div *ngIf="form.get('company.name').hasError('pattern')">Only letters allowed</div>
          <div *ngIf="form.get('company.name').hasError('maxlength')">Name must have less than 120 characters</div>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label for="cnpj" class="fw-bold">CNPJ</label>
        <input id="cnpj" type="text" name="cnpj" formControlName="cnpj" class="form-control"
               mask="00.000.000/0000-00" [ngClass]="{ 'is-invalid': submitted && form.get('company.cnpj').errors }">
        <div class="invalid-feedback" *ngIf="submitted && form.get('company.cnpj').errors">
          <div *ngIf="form.get('company.cnpj').hasError('required')">CNPJ is required</div>
          <div *ngIf="form.get('company.cnpj').hasError('pattern')">Only numbers allowed</div>
          <div *ngIf="form.get('company.cnpj').hasError('minlength')">CNPJ must have 11 characters</div>
          <div *ngIf="form.get('company.cnpj').hasError('maxlength')">CNPJ must have 11 characters</div>
        </div>
      </div>
    </div>
  </div>

  <h4 class="mt-4">Address</h4>
  <div formGroupName="address">
    <div class="row">
      <div class="form-group col-md-9">
        <label for="street" class="fw-bold">Street</label>
        <input type="text" class="form-control" name="street" formControlName="street" id="street"
               [ngClass]="{ 'is-invalid': submitted && form.get('address.street').errors }">
        <div class="invalid-feedback" *ngIf="submitted && form.get('address.street').errors">
          <div *ngIf="form.get('address.street').hasError('required')">Street is required</div>
          <div *ngIf="form.get('address.street').hasError('maxlength')">Street must have less than 100 characters</div>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label for="number" class="fw-bold">Number</label>
        <input type="text" class="form-control" name="number" formControlName="number" id="number"
               [ngClass]="{ 'is-invalid': submitted && form.get('address.number').errors }">
        <div class="invalid-feedback" *ngIf="submitted && form.get('address.number').errors">
          <div *ngIf="form.get('address.number').hasError('required')">Number is required</div>
          <div *ngIf="form.get('address.number').hasError('pattern')">Only numbers and letters allowed</div>
          <div *ngIf="form.get('address.number').hasError('maxlength')">Number must have less than 20 characters</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-3">
        <label for="district" class="fw-bold">District</label>
        <input type="text" class="form-control" name="district" formControlName="district" id="district"
               [ngClass]="{ 'is-invalid': submitted && form.get('address.district').errors }">
        <div class="invalid-feedback" *ngIf="submitted && form.get('address.district').errors">
          <div *ngIf="form.get('address.district').hasError('required')">District is required</div>
          <div *ngIf="form.get('address.district').hasError('maxlength')">District must have less than 100 characters</div>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label for="city" class="fw-bold">City</label>
        <input type="text" class="form-control" name="city" formControlName="city" id="city"
               [ngClass]="{ 'is-invalid': submitted && form.get('address.city').errors }">
        <div class="invalid-feedback" *ngIf="submitted && form.get('address.city').errors">
          <div *ngIf="form.get('address.city').hasError('required')">City is required</div>
          <div *ngIf="form.get('address.city').hasError('maxlength')">City must have less than 100 characters</div>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label for="state" class="fw-bold">State</label>
        <select id="state" class="form-control" formControlName="state" name="state"
                [ngClass]="{ 'is-invalid': submitted && form.get('address.state').errors }">
          <option value="null" selected>Choose...</option>
          <option value="AC">Acre</option>
          <option value="AL">Alagoas</option>
          <option value="AP">Amapá</option>
          <option value="AM">Amazonas</option>
          <option value="BA">Bahia</option>
          <option value="CE">Ceará</option>
          <option value="DF">Distrito Federal</option>
          <option value="ES">Espírito Santo</option>
          <option value="GO">Goiás</option>
          <option value="MA">Maranhão</option>
          <option value="MT">Mato Grosso</option>
          <option value="MS">Mato Grosso do Sul</option>
          <option value="MG">Minas Gerais</option>
          <option value="PA">Pará</option>
          <option value="PB">Paraíba</option>
          <option value="PR">Paraná</option>
          <option value="PE">Pernambuco</option>
          <option value="PI">Piauí</option>
          <option value="RJ">Rio de Janeiro</option>
          <option value="RN">Rio Grande do Norte</option>
          <option value="RS">Rio Grande do Sul</option>
          <option value="RO">Rondônia</option>
          <option value="RR">Roraima</option>
          <option value="SC">Santa Catarina</option>
          <option value="SP">São Paulo</option>
          <option value="SE">Sergipe</option>
          <option value="TO">Tocantins</option>
        </select>
        <div class="invalid-feedback" *ngIf="submitted && form.get('address.state').errors">
          <div *ngIf="form.get('address.state').hasError('required')">State is required</div>
          <div *ngIf="form.get('address.state').hasError('maxlength')">State must have 2 characters</div>
        </div>
      </div>
      <div class="form-group col-md-2">
        <label for="zip" class="fw-bold">Zip Code</label>
        <input type="text" class="form-control" id="zip" formControlName="zip"
               mask="00.000-000" [ngClass]="{ 'is-invalid': submitted && form.get('address.zip').errors }">
        <div class="invalid-feedback" *ngIf="submitted && form.get('address.zip').errors">
          <div *ngIf="form.get('address.zip').hasError('required')">Zip code is required</div>
          <div *ngIf="form.get('address.zip').hasError('minlength')">Zip must have 8 characters</div>
          <div *ngIf="form.get('address.zip').hasError('maxlength')">Zip must have 8 characters</div>
        </div>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-dark btn-sm mt-4">Update</button>
</form>
